name: CI
on: 
  push:
    branches:
      - main
      - feature_1
      - 'release/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build application
        run: echo "building application......"

