name: CI
on: 
  push:
    branches:
      - main
      - feature_1
      - 'release/**'
  pull_request:
    types: 
      - opened
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build application
        run: echo "Executing ${{ vars.STEP_1 }}"
      - name: Call API
        run: echo "Calling API with token => ${{ secrets.API_TOKEN }}"
